<section id="projects">

 {% for project in site.data.content.projects %}
  <a href="{{ project.url }}" class="project-wrap-{{ project.class }}">
    <div class="project-cart">
      <div class="cart-part-l"></div>
      <div class="cart-part-r"></div>
      <div class="cart-title">{{ project.type }}</div>
      <div class="side-sticker-l"></div>
      <div class="side-sticker-r"></div>
      <img class="cart-image" src="{{ project.image }}">
    </div>
    <h3 class="project-title">{{ project.name }}</h3>
    <p class="project-desc">{{ project.desc }}</p>
  </a>
  {% endfor %}
  <!--
  <div class="project-wrap-even-1">
    <div class="project-cart">
      <div class="cart-part-l"></div>
      <div class="cart-part-r"></div>
      <div class="cart-title">Game Dev</div>
      <div class="side-sticker-l"></div>
      <div class="side-sticker-r"></div>
      <img class="cart-image" src="/assets/img/ninjet.png">
    </div>
    <h3 class="project-title">Project B</h3>
    <p class="project-desc">A mobile game I helped develop for iOS and Android.</p>
  </div>

  <div class="project-wrap-odd-2">
    <div class="project-cart">
      <div class="cart-part-l"></div>
      <div class="cart-part-r"></div>
      <div class="cart-title">Web Dev</div>
      <div class="side-sticker-l"></div>
      <div class="side-sticker-r"></div>
      <img class="cart-image" src="/assets/img/onepagesite.png">
    </div>
    <h3 class="project-title">Project C</h3>
    <p class="project-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
  </div>

  <div class="project-wrap-even-2">
    <div class="project-cart">
      <div class="cart-part-l"></div>
      <div class="cart-part-r"></div>
      <div class="cart-title">UI/UX Design</div>
      <div class="side-sticker-l"></div>
      <div class="side-sticker-r"></div>
      <img class="cart-image" src="/assets/img/weddinginvite.png">
    </div>
    <h3 class="project-title">Project D</h3>
    <p class="project-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
  </div>
  <div class="project-wrap-odd-1"></div>
  <div class="project-wrap-even-1"></div>
  -->
</section>
