$bg-color-1: #ededed;
$bg-color-2: #dedede;
$cart-color-1: #b9b9b9;
$cart-color-2: #989898;
$darkgrey-1: #424242;
$darkgrey-2: #2f2f2f;
$gb-color-1: #d7e594;
$gb-color-2: #aec43d;
$gb-color-3: #537e39;
$gb-color-4: #214631;
